/*type selectors*/
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: rgb(185, 206, 232);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 0;
  background: rgb(132,141,228);
  background: -moz-linear-gradient(80deg, rgba(132,141,228,1) 34%, rgba(135,117,209,1) 66%, rgba(132,103,198,1) 94%);
  background: -webkit-linear-gradient(80deg, rgba(132,141,228,1) 34%, rgba(135,117,209,1) 66%, rgba(132,103,198,1) 94%);
  background: linear-gradient(80deg, rgba(132,141,228,1) 34%, rgba(135,117,209,1) 66%, rgba(132,103,198,1) 94%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#848de4",endColorstr="#8467c6",GradientType=1);
  padding: 0.5vw;
}

main {
  flex-grow: 1;
  margin-bottom: 25px;
}

footer {
  display: flex;
  margin: 0 0;
  background: rgb(138,132,228);
  background: -moz-linear-gradient(135deg, rgba(138,132,228,1) 22%, rgb(77, 58, 119) 100%);
  background: -webkit-linear-gradient(135deg, rgba(138,132,228,1) 22%, rgba(77, 58, 119, 1) 100%);
  background: linear-gradient(135deg, rgba(138,132,228,1) 22%, rgba(77, 58, 119, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a84e4",endColorstr="#3c2d5c",GradientType=1);
  padding: 1.3vw;
  flex-shrink: 0;
}

h1 {
  flex: 5;
  margin: 0;
  margin-right: 3vw;
  font-size: calc(12px + 2.2vw);
  text-align: center;
}

h2 {
  font-size: calc(16px + 1vw);
  text-align: center;
}

input {
  width: 36px;
  height: 22px;
  font-size: 18px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
}

button {
  margin-left: 20px;
  font-size: 0.8rem;
  vertical-align: middle;
  cursor: pointer;
}

select {
  font-size: calc(10px + 1.1vw);
  margin-right: 5px;
  cursor: pointer;
}

p {
  font-size: calc(12px + 1vw);
  text-align: center;
  line-height: 1cm;
}

footer > a {
  width: calc(0.75rem + 2vw);
  height: calc(0.75rem + 2vw);
}

/*class selectors*/
.matrix {
  justify-content: center;
  justify-items: center;
  align-items: center;
}

/*colors of cells with the solution class*/
.solution {
  background: rgb(155,255,160);
  background: -moz-linear-gradient(309deg, rgba(155,255,160,1) 30%, rgba(255,202,254,1) 100%);
  background: -webkit-linear-gradient(309deg, rgba(155,255,160,1) 30%, rgba(255,202,254,1) 100%);
  background: linear-gradient(309deg, rgba(155,255,160,1) 30%, rgba(255,202,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9bffa0",endColorstr="#ffcafe",GradientType=1);
  -webkit-transition: background-color 0.04s;
  -moz-transition: background-color 0.04s;
  -o-transition: background-color 0.04s;
  transition: background-color 0.04s;
}

/*the colors of the cells with the errorCell class*/
.errorCell {
  background-color: tomato;
}

.social_link {
  width: calc(0.75rem + 2vw);
  height: calc(0.75rem + 2vw);
}

a > .social_link {
  transition: transform 0.2s;
}

a > .social_link:hover {
  transform: scale(1.08);
}

.lang-sizeInput {
  display: inline;
}

/*ID selectors*/
#findButton {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

#alphaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*stylization of dimensional input and alpha Hurwitz input, so that there is no tearing when narrowing or expanding the screen*/
#dimensions {
  display: inline-block;
  vertical-align: middle;
}

#dimensions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dimensions-wrapper {
  text-align: center;
}

#dimensionsAll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  margin-left: 5px;
  margin-right: 5px;
}

#alphaContainer > p {
  margin: 10px 0px;
}

#rows,
#columns,
#alphaHurwitzInput {
  margin: 0;
  margin: 0px 10px;
}

#alphaHurwitzInput {
  width: calc(30px + 1.5vw);
}

#logo{
  width: calc(1.5rem + 3vw);
  height: calc(1.5rem + 3vw);
}

/*styling panel with methods*/
#methods {
  background-color: rgb(157, 117, 217);
  margin-bottom: 14px;
}

#methods > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#methods > ul > li {
  border: none;
  min-width: 200px;
  height: 4vw;
  min-height: 36px;
  flex: 1;
}

#methods > ul > li > button {
  display: block;
  border: 0.75px solid rgb(85, 71, 107);
  border-right-width: 0;
  margin: 0;
  padding: 0px 0px;
  background: none;
  width: 100%;
  height: 100%;
  min-height: 36px;
  font-size: calc(10px + 0.8vw);
  text-align: center;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

#methods > ul > li:last-child > button {
  border-right-width: 0.75px;
}

#methods > ul > li > button:hover {
  background-color: rgb(155, 103, 197);
}

@media (max-width: 400px) {
  #methods > ul {
    flex-direction: column;
  }

  #methods > ul > li {
    width: 100%;
  }

  #methods > ul > li > button {
    border-width: 0.001mm;
    border-bottom-width: 0;
  }

  #methods > ul > li:last-child > button {
    border-bottom-width: 0.001mm;
  }
}